body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(to bottom right, #5E81AC 0%, #81A1C1 50%, #88C0D0 100%);
	background-color: #5E81AC;
}

.sidebar-background {
	height: 300px;
	width: 100%;
	background-size: cover;
	top: 0;
	border-radius: 0 0 10px 10px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}



@media (min-width: 900px) {
	.sidebar-background {
		background-position-y: -200px;
	}
}

@media (min-width: 1250px) {
	.sidebar-background {
		background-position-y: -400px;
	}
}

.sidebar {
	width: 100%;
	position: sticky;
	overflow: auto;
	top: 0;
}

div.nav {
	width: fit-content;
	max-width: 100%;
	margin: 10px auto;
	border: #9AACCA 1px solid;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #BF616A 0%, #D08770 25%, #EBCB8B 50%, #A3BE8C 75%, #B48EAD 100%);
}

.nav ul {
	list-style-type: none;
	margin: 0px auto;
	padding: 0px;
	width: max-content;
	max-width: 100%;
}

.nav li {
	display: inline-block;
}

.nav a:hover {
	background-color: #ffffff70;
}

.nav li a {
	display: block;
	color: #404040;
	text-decoration: none;
	height: 100%;
	padding: 10px;
}

.container {
	margin: 10px auto;
	padding: 5px;
	width: 80%;
	max-width: 80%;
	font-size: 1.2em;
	line-height: 2em;
	text-align: justify;
	overflow-wrap: break-word;
	background-color: #ECEFF4A0;
	border-radius: 10px;
	border: #D8DEE9 1px solid;
}

@media (max-width: 600px) {
	.container {
		border-radius: 0px;
		border: 0px;
		max-width: 100%;
		padding: 0px;
		width: 100%;
	}

	div.nav {
		border: 0px;
		border-radius: 0px;
		width: 100%;
		max-width: 100%;
	}
}

img {
	max-width: 100%;
}

img.profile {
	width: 40%;
	border-radius: 50%;
	margin: 10px auto;
	display: block;
}

img.logo {
	width: 20%;
	margin: 10px auto;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 40%;
}

div.post {
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-collapse: true;
	font-size: 1em;
	line-height: 1.5em;
	color: #505050;
	padding: 10px;
}

a.title {
	text-decoration: none;
	color: #404040;
}

a.continue {
	text-decoration: none;
	font-size: 0.8em;
}

h1 {
	color: #2E3440;
}

h2 {
	color: #2E3440;
	border-bottom: #4C566A90 1px solid;
}

h3 {
	color: #2E3440;
}
