<div class="sidebar-background" style="background-image: url('{{ .Site.Params.Banner | default "/images/background.jpg" }}');" alt="{{ .Site.Params.Banner_attr | default ""}}" >
	<div class="center"><h1>{{ .Title }}</h1></div>
</div>
<div class="sidebar">
	<div class="nav">
		<ul>
		{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</div>
</div>
